# Ignore large data files
*.fastq.gz
*.bam
*.bai
*.log*
samplesheet.csv

# Ignore entire data directories
data/
logs/
results/
.nextflow/
.nf-launch/

# Downstream changes

downstream/*.rds
downstream/*.csv
downstream/*.R
downstream/*.Rproj
downstream/.RData
downstream/*.xml
downstream/*.png
downstream/*.html

# dirs

downstream/.Rproj.user/
downstream/02_PP_all_reps_subset_and_markers_files/
downstream/03_cell_annotation_files/
downstream/MLN_outputs/
downstream/PeyersP_8OUTS/
downstream/PP_outputs/
