# Ignore large data files
*.fastq.gz
*.bam
*.bai
*.log*
samplesheet.csv

# Ignore entire data directories
data/
logs/
results/
.nextflow/
.nf-launch/

# Downstream changes

downstream/*.rds
downstream/*.R
downstream/*.Rproj