process{
    //  Process specific limits
    withName: SRA_DOWNLOAD {
        cpus = 16
        memory = 32.GB
        time = 2.h 
    }
    withName: BAM_TO_FASTQ_10X {
        cpus = 16
        memory = 32.GB
        time = 6.h 
    }  
    withName: FASTQ_RENAME {
        cpus = 4
        memory = 4.GB
        time = 15.m 
    }
}

profiles{
    spartan_hpc{  // to debug run nextflow config -profile spartan_hpc
        process{
            executor = 'slurm'
            queue = 'nodes'
        }

        // Conda configs outside of process
        conda {
            enabled = true
            cacheDir = "${HOME}/.nextflow/conda"
        }
    }
}


trace {
    enabled = true
    file = {"${params.results}/pipeline_info/trace.txt"}
    overwrite = true
    fields = 'task_id,hash,native_id,process,tag,status,exit,submit,start,complete,duration,realtime,%cpu,%mem,rss,peak_rss'
}

timeline {
    enabled = true
    file = {"${params.results}/pipeline_info/timeline.html"}
    overwrite = true
}

report {
    enabled = true
    file = {"${params.results}/pipeline_info/report.html"}
    overwrite = true
}


dag {
    enabled = true
    file = {"${params.results}/pipeline_info/dag.svg"}
    overwrite = true
}