profiles {
    my_laptop {
        process.executor = 'local'
        docker.enabled = true
    }
    spartan_hpc {
        process.executor = 'slurm'
        queue: 'nodes'
        conda.enabled = true
        process.resourceLimits = [
            memory: 50.GB,
            cpus: 200,
            time: 3.d
        ]
        process {
            withName: SRA_DOWNLOAD {
                cpus = 16
                memory = 32.GB
                time = 30.m
            }
        }
    }
    test {
        params.greeting = 'greetings.csv'
        params.batch = 'test-batch'
        params.character = 'turkey'
    }
}