profiles {
    spartan_hpc {
        process.executor = 'slurm'
        queue: 'nodes'
        conda.enabled = true
        conda.cacheDir = "${HOME}/.nextflow/conda"

        // Global limits
        process.resourceLimits = [
            memory: 50.GB,
            cpus: 200,
            time: 3.d
        ]
        process {
            withName: SRA_DOWNLOAD {
                cpus = 16
                memory = 32.GB
                time = 2.h 
            }
            withName: BAM_TO_FASTQ_10X {
                cpus = 16
                memory = 32.GB
                time = 6.h 
            }

        }
    }
    
}

trace {
    enabled = true
    file = "${params.results}/pipeline_info/trace.txt"
    overwrite = true
    fields = 'task_id,hash,native_id,process,tag,status,exit,submit,start,complete,duration,realtime,%cpu,%mem,rss,peak_rss'
}

timeline {
    enabled = true
    file = "${params.results}/pipeline_info/timeline.html"
    overwrite = true
}

report {
    enabled = true
    file = "${params.results}/pipeline_info/report.html"
    overwrite = true
}


dag {
    enabled = true
    file = "${params.results}/pipeline_info/dag.svg"
    overwrite = true
}